 body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }

    .jumbotron {
        color: #fff;
        padding: 15% 0% 15% 0%;
        font-family: Montserrat, sans-serif;
        background-image: url("../img/header.png");
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }

    .jumbotron img{
        display: none;
    }

    .navbar {
        margin-bottom: 0;
        background-color: #2196F3;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
    }  

    @media screen and (max-width: 768px) {
        .navbar-brand img{
            display: none;
        }

        .jumbotron img{
            display: initial;
            width: 70%;
        }

        .jumbotron h1, h2{
            display: none;
        }
    }

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #2196F3 !important;
        background-color: #fff !important;
    }

    #about{
        background: #EEE;
        padding: 5%;
    }

    .imagen{
        margin: 20px;
        text-align: center;
        padding: 10%;
    }
    #modal1{
        margin-top: 40%;
    }
    #modal2{
        margin-top: 150px;
    }
    #modal3{
        margin-top: 150px;
    }
    .informa{
        font-size: 200%;
    }

.navbar-toggle {
    background: #fff;
}

#services{
    padding: 5%;
}

#services img{
    padding: 10%;
}

#services h3{
    text-align: center;
}
 #services p{
    text-align: justify;

}

#integrantes{
    background: #EEE;
    padding: 5%;
}

.integrantes .equipo{
    padding: 30px;

}

.equipo .equipoItem { 
    position: relative; 
    overflow: hidden; 
    top: 0; left: 0;
}

.equipo .equipoItem img { 
    display: block; 
    position: relative; 
}

.equipo .equipoItem .mascara { 
    position: absolute; 
    overflow: hidden; 
    top: 0; 
    left: 0; 
}
.equipo .equipoItem img { 
    -webkit-transition: 0.3s ease-in-out; 
    -moz-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; 
    -ms-transition: 0.3s ease-in-out; 
    transition: 0.3s ease-in-out; 
}
.equipo .equipoItem .mascara { 
    -webkit-transform: translateX(-272px); 
    -moz-transform: translateX(-272px); 
    -o-transform: translateX(-272px); 
    -ms-transform: translateX(-272px); 
    transform: translateX(-272px); 
    -webkit-transition: 0.3s ease-in-out; 
    -moz-transition: 0.3s ease-in-out; 
    -o-transition: 0.3s ease-in-out; 
    -ms-transition: 0.3s ease-in-out; 
    transition: 0.3s ease-in-out; 
}

.equipo .equipoItem:hover img { 
    -webkit-transform: translateX(272px); 
    -moz-transform: translateX(272px); 
    -o-transform: translateX(272px); 
    -ms-transform: translateX(272px); 
    transform: translateX(272px); 
}
.equipo .equipoItem:hover .mascara { 
    -webkit-transform: translateX(0px); 
    -moz-transform: translateX(0px); 
    -o-transform: translateX(0px); 
    -ms-transform: translateX(0px); 
    transform: translateX(0px); 
}

